* {
  margin: 0;
  padding: 0;
}

.containerWithTasks {
  position: absolute;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.containerWithTasks .boxForTaskOne {
  margin-bottom: 5px;
  width: 275px;
  height: 183px;
  border: 1px solid #afaea4;
  font-size: 8px;
}

.containerWithTasks .boxForTaskOne .header {
  height: 27px;
  background: #f0e68c;
  border-bottom: 1px solid #afaea4;
  text-align: center;
}

.containerWithTasks .boxForTaskOne .header p {
  padding: 3px 0;
}

.containerWithTasks .boxForTaskOne .boxContent {
  height: 131px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #afaea4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerWithTasks .boxForTaskOne .boxContent .boxColumn {
  -ms-flex-preferred-size: 62px;
      flex-basis: 62px;
  text-align: center;
  padding-top: 5px;
}

.containerWithTasks .boxForTaskOne .boxContent .orange {
  background: #ffcd00;
  font-size: 6px;
}

.containerWithTasks .boxForTaskOne .boxContent .skyblue {
  background: #afccdc;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.containerWithTasks .boxForTaskOne .footer {
  text-align: center;
  padding-top: 5px;
  font-size: 6px;
  background: #d2b48c;
  height: 18px;
}

.containerWithTasks .boxForTaskTwo {
  margin-bottom: 5px;
  width: 580px;
  height: 357px;
  background: #9dc3e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.containerWithTasks .boxForTaskTwo .boxContent {
  height: 299px;
  width: 531px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRow .rectangle {
  background: #fed966;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowOne {
  height: 77px;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowOne .rectangle1 {
  -ms-flex-preferred-size: 171px;
      flex-basis: 171px;
  margin-right: 10px;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowOne .rectangle2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowTwo {
  height: 57px;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowTwo .rectangle:not(:last-child) {
  -ms-flex-preferred-size: 87px;
      flex-basis: 87px;
  margin-right: 10px;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowTwo .rectangle:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowThree {
  height: 138px;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowThree .rectangle1 {
  margin-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowThree .rectangle2 {
  margin-right: 10px;
  -webkit-box-flex: 1.4;
      -ms-flex-positive: 1.4;
          flex-grow: 1.4;
}

.containerWithTasks .boxForTaskTwo .boxContent .boxRowThree .rectangle3 {
  -ms-flex-preferred-size: 95px;
      flex-basis: 95px;
}

.containerWithTasks .boxForTaskTwo .boxContent .title {
  text-transform: uppercase;
  position: absolute;
  font-size: 72px;
  font-weight: bold;
  bottom: 56px;
  color: #5f5f5f;
}

.containerWithTasks .boxForTaskThree {
  margin-bottom: 5px;
  width: 275px;
  height: 183px;
  background: #d8d8d8;
  border: 2px dashed black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerWithTasks .boxForTaskThree .square {
  width: calc(100% / 3);
  height: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containerWithTasks .boxForTaskThree .square1 {
  background: #94d44e;
  border-right: 2px dashed #76b630;
  border-bottom: 3px solid black;
}

.containerWithTasks .boxForTaskThree .square2 {
  background: #94d44e;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerWithTasks .boxForTaskThree .square2 .squareChild {
  width: 25px;
  height: 72px;
  background: #f6a623;
}

.containerWithTasks .boxForTaskThree .square3 {
  border-bottom: 3px solid black;
}

.containerWithTasks .boxForTaskThree .square4 {
  background: #94d44e;
  border-right: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.containerWithTasks .boxForTaskThree .square4 .squareChild {
  width: 100%;
  height: 41px;
  background: #f6a623;
}

.containerWithTasks .boxForTaskThree .square5 {
  border-right: 3px solid black;
}

.containerWithTasks .boxForTaskThree .square6 {
  background: #94d44e;
  position: relative;
}

.containerWithTasks .boxForTaskThree .square6 .squareChild {
  width: 42px;
  height: 65px;
  background: #f6a623;
  position: absolute;
  bottom: 0;
  left: 0;
}

.containerWithTasks .boxForTaskFour {
  margin-bottom: 5px;
  width: 440px;
  height: 440px;
  background: #273a4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerWithTasks .boxForTaskFour .boxContent {
  height: 340px;
  width: 340px;
  background: #20263b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRow .rectangle {
  height: 44px;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRow .rectangle1 {
  background: #14a5ce;
  width: 78px;
  position: relative;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRow .rectangle1 .magicWand {
  position: absolute;
  background: #14a5ce;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  border-radius: 10px;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRow .rectangle2 {
  background: #b8f4a1;
  width: 56px;
  -webkit-box-shadow: 0px 0px 5px 2px #b8f4a1;
          box-shadow: 0px 0px 5px 2px #b8f4a1;
  z-index: 1;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRow .rectangle3 {
  background: #8e84e3;
  width: 138px;
  position: relative;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRow .rectangle3 .magicWand {
  position: absolute;
  background: #8e84e3;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  border-radius: 10px;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRowOne {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRowOne .rectangle1 .magicWand {
  -webkit-box-shadow: 0px 0px 5px 3px #14a5ce;
          box-shadow: 0px 0px 5px 3px #14a5ce;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRowTwo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRowTwo .rectangle3 .magicWand {
  -webkit-box-shadow: 0px 0px 5px 3px #8e84e3;
          box-shadow: 0px 0px 5px 3px #8e84e3;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRowThree {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRowFour {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRowFour .rectangle3 .magicWand {
  -webkit-box-shadow: 0px 0px 5px 3px #8e84e3;
          box-shadow: 0px 0px 5px 3px #8e84e3;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRowFour .rectangle1 .magicWand {
  -webkit-box-shadow: 0px 0px 5px 3px #14a5ce;
          box-shadow: 0px 0px 5px 3px #14a5ce;
}

.containerWithTasks .boxForTaskFour .boxContent .boxRowFive {
  background: #ab4e48;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
