* {
   margin: 0;
   padding: 0;
}
.containerWithTasks {
   position: absolute;
   margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   .boxForTaskOne {
      margin-bottom: 5px;
      width: 275px;
      height: 183px;
      border: 1px solid #afaea4;
      font-size: 8px;
      .header {
         height: 27px;
         background: #f0e68c;
         border-bottom: 1px solid #afaea4;
         text-align: center;
         p {
            padding: 3px 0;
         }
      }
      .boxContent {
         height: 131px;
         display: flex;
         flex-direction: row;
         border-bottom: 1px solid #afaea4;
         justify-content: center;
         .boxColumn {
            flex-basis: 62px;
            text-align: center;
            padding-top: 5px;
         }
         .orange {
            background: #ffcd00;
            font-size: 6px;
         }
         .skyblue {
            background: #afccdc;
            flex-grow: 1;
         }
      }
      .footer {
         text-align: center;
         padding-top: 5px;
         font-size: 6px;
         background: #d2b48c;
         height: 18px;
      }
   }
   .boxForTaskTwo {
      margin-bottom: 5px;
      width: 580px;
      height: 357px;
      background: #9dc3e7;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .boxContent {
         height: 299px;
         width: 531px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         .boxRow {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .rectangle {
               background: #fed966;
            }
         }
         .boxRowOne {
            height: 77px;
            .rectangle1 {
               flex-basis: 171px;
               margin-right: 10px;
            }
            .rectangle2 {
               flex-grow: 1;
            }
         }
         .boxRowTwo {
            height: 57px;
            .rectangle:not(:last-child) {
               flex-basis: 87px;
               margin-right: 10px;
            }
            .rectangle:last-child {
               flex-grow: 1;
            }
         }
         .boxRowThree {
            height: 138px;
            .rectangle1 {
               margin-right: 10px;
               flex-grow: 1;
            }
            .rectangle2 {
               margin-right: 10px;
               flex-grow: 1.4;
            }
            .rectangle3 {
               flex-basis: 95px;
            }
         }
         .title {
            text-transform: uppercase;
            position: absolute;
            font-size: 72px;
            font-weight: bold;
            bottom: 56px;
            color: #5f5f5f;
         }
      }
   }
   .boxForTaskThree {
      margin-bottom: 5px;
      width: 275px;
      height: 183px;
      background: #d8d8d8;
      border: 2px dashed black;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .square {
         width: calc(100% / 3);
         height: 50%;
         box-sizing: border-box;
      }
      .square1 {
         background: #94d44e;
         border-right: 2px dashed #76b630;
         border-bottom: 3px solid black;
      }
      .square2 {
         background: #94d44e;
         border-right: 3px solid black;
         border-bottom: 3px solid black;
         display: flex;
         justify-content: center;
         align-items: center;
         .squareChild {
            width: 25px;
            height: 72px;
            background: #f6a623;
         }
      }
      .square3 {
         border-bottom: 3px solid black;
      }
      .square4 {
         background: #94d44e;
         border-right: 3px solid black;
         display: flex;
         align-items: flex-end;
         .squareChild {
            width: 100%;
            height: 41px;
            background: #f6a623;
         }
      }
      .square5 {
         border-right: 3px solid black;
      }
      .square6 {
         background: #94d44e;
         position: relative;
         .squareChild {
            width: 42px;
            height: 65px;
            background: #f6a623;
            position: absolute;
            bottom: 0;
            left: 0;
         }
      }
   }
   .boxForTaskFour {
      margin-bottom: 5px;
      width: 440px;
      height: 440px;
      background: #273a4f;
      display: flex;
      justify-content: center;
      align-items: center;
      .boxContent {
         height: 340px;
         width: 340px;
         background: #20263b;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         .boxRow {
            display: flex;
            flex-direction: row;
            .rectangle {
               height: 44px;
            }
            .rectangle1 {
               background: #14a5ce;
               width: 78px;
               position: relative;
               .magicWand {
                  position: absolute;
                  background: #14a5ce;
                  top: 0;
                  left: 0;
                  width: 2px;
                  height: 100%;
                  border-radius: 10px;
               }
            }
            .rectangle2 {
               background: #b8f4a1;
               width: 56px;
               box-shadow: 0px 0px 5px 2px #b8f4a1;
               z-index: 1;
            }
            .rectangle3 {
               background: #8e84e3;
               width: 138px;
               position: relative;
               .magicWand {
                  position: absolute;
                  background: #8e84e3;
                  top: 0;
                  right: 0;
                  width: 2px;
                  height: 100%;
                  border-radius: 10px;
               }
            }
         }
         .boxRowOne {
            justify-content: flex-start;
            .rectangle1 {
               .magicWand {
                  box-shadow: 0px 0px 5px 3px #14a5ce;
               }
            }
         }
         .boxRowTwo {
            justify-content: flex-end;
            .rectangle3 {
               .magicWand {
                  box-shadow: 0px 0px 5px 3px #8e84e3;
               }
            }
         }
         .boxRowThree {
            justify-content: center;
         }
         .boxRowFour {
            justify-content: space-between;
            .rectangle3 {
               .magicWand {
                  box-shadow: 0px 0px 5px 3px #8e84e3;
               }
            }
            .rectangle1 {
               .magicWand {
                  box-shadow: 0px 0px 5px 3px #14a5ce;
               }
            }
         }
         .boxRowFive {
            background: #ab4e48;
            justify-content: space-around;
         }
      }
   }
}
